#content {
    font-family: consolas, 'Helvetica Neue', 'Ubuntu Condensed', '&#24494;&#36575;&#27491;&#40657;&#39636;', '微軟正黑體','Microsoft JhengHei', sans-serif;
    font-size: 25px;
}

#content ul {
    margin: 10px 0px;
}

#content .note {
    font-size: 20px;
    color: blue;
    margin: 5px;
}

#content input {
    font-size: 25px;
}

#content .editor > .code {
    font-family: consolas, monaco, monospace;
    background: transparent;
    border: none;
}

#content .editor > textarea.code {
    margin-left: 50px;
    height: 100px;
    font-size: 25px;
    border: 1px lightgray solid;
    transition: none;
}

#content .editor > textarea.code-area {
    width: 80%;
}

#content .builtin {
    color: red;
}

#content .indent1 {
    margin-left: 50px;
}

#content #footer {
    height: 200px;
}

#content .compile-message {
    margin: 3px 0;
}

#content .editor {
    width: 60%;
    float: left;
}

#content .toolkit {
    /* text-align: right; */
    /* width: 40%; */
    /* float: right; */
}

#content .clear {
    clear: both;
}

