{% extends "easyconnect-template.html" %}
{% block content %}
    <h1>Compiling...</h1>

    {% for i in compile_message %}
      <div class="compile-message">{{ i }}</div>
    {% endfor %}

    {% for i in compile_error_message %}
      <div class="compile-message compile-error">{{ i }}</div>
    {% endfor %}

    <a href="{{ download_link }}">{{ download_link }}</a>
    {% if not end %}
    <script>
        setTimeout(function () {window.scrollTo(0, document.body.scrollHeight)}, 1);
    </script>
    <script>
        setTimeout(function () {window.location = window.location;}, 500);
    </script>
    {% endif %}
{% endblock %}
