{% extends "easyconnect-template.html" %}
{% block content %}
  {% if compile_result == "S" %}
  <h1>Compile Result - Successed</h1>
  {% elif compile_result == "F" %}
  <h1>Compile Result - Failed</h1>
  {% else %}
  <h1>Compiling...</h1>
  {% endif %}

  {% for i in compile_message %}
  <div class="compile-message">{{ i }}</div>
  {% endfor %}

  {% for i in compile_error_message %}
  <div class="compile-message compile-error">{{ i }}</div>
  {% endfor %}

  {% if compile_result != "F" %}
  <script>
      setTimeout(function () {window.scrollTo(0, document.body.scrollHeight)}, 1);
  </script>
  <script>
      setTimeout(function () {window.location = window.location;}, 3000);
  </script>
  {% endif %}
{% endblock %}
