{% extends "easyconnect-template.html" %}
{% block content %}
<form action="/da-creator/{{ dm_name }}" method="POST">
  <span>Device Model: </span>
    <span>{{ dm_name }}</span>
    <input type="hidden" name="device-model-name" value="{{ dm_name }}"><br>
  <span>Input Feature List: </span>
  <ul>
  {% for f in idf_list %}
    <li>{{ f }}</li>
    <input type="hidden" name="idf_list[]" value="{{ f }}">
  {% endfor %}
  </ul>
  <span>Output Feature List: </span>
  <ul>
  {% for f in odf_list %}
    <li>{{ f }}</li>
    <input type="hidden" name="odf_list[]" value="{{ f }}">
  {% endfor %}
  </ul>

  <hr>

  {% if da_available %}
  <span>The Android DA for this model is available, </span>
  <a href="/download/{{ dm_name }}.apk">Download</a>
  <hr>
  {% endif %}

  <h1>Initialzation</h1>
  <div>
    <div class="editor">
      <span class="code">static public void deviceInitialize () {</span><br>
      <textarea id="deviceInitialize" class="code code-area" name="deviceInitialize">{{ code_deviceInitialize }}</textarea><br>
      <span class="code">}</span><br>
    </div>
    <div class="toolkit">
      <button type="button" onclick="insertTextAtCaret('deviceInitialize', 'send_data();');">send_data();</button>
      <button type="button" onclick="insertTextAtCaret('deviceInitialize', 'try {\n} catch () {\n}')">try-catch</button>
    </div>
    <div class="clear"></div>
  </div>

  <h1>JSON Encoder (Up-stream)</h1>
  <div>
    <div class="editor">
      <span class="code">static public void device2EasyConnect (ByteQueue bq) {</span><br>
      <span class="code note">/* push data with <span class="builtin">EasyConnect.push_data( feature_name , data )</span> */</span><br>
      <textarea id="device2Easyconnect" class="code code-area" name="device2Easyconnect">{{ code_device2Easyconnect }}</textarea><br>
      <span class="code">}</span><br>
    </div>
    <div class="toolkit">
  {% for f in df_list %}
      <button type="button" onclick="insertTextAtCaret('device2Easyconnect', 'EasyConnect.push_data(&quot;{{ f }}&quot;, );');">EasyConnect.push_data("{{ f }}", );</button>
  {% endfor %}
    </div>
    <div class="clear"></div>
  </div>

  <h1>JSON Decoder (Down-stream)</h1>
  <div>
    <div class="editor">
      <span class="code">static public void easyConnect2Device (String feature, JSONArray data) {</span><br>
      <textarea id="easyConnect2Device" class="code code-area" name="easyConnect2Device">{{ code_easyConnect2Device }}</textarea><br>
      <span class="code">}</span><br>
    </div>
    <div class="toolkit">
    </div>
    <div class="clear"></div>
  </div>

  <h1>Termination</h1>
  <div>
    <div class="editor">
      <span class="code">static public void deviceTerminate () {</span><br>
      <textarea id="deviceTerminate" class="code code-area" name="deviceTerminate">{{ code_deviceTerminate }}</textarea><br>
      <span class="code">}</span><br>
    </div>
    <div class="toolkit">
      <button type="button" onclick="insertTextAtCaret('deviceTerminate', 'send_data();');">send_data();</button>
      <button type="button" onclick="insertTextAtCaret('deviceTerminate', 'try {\n} catch () {\n}')">try-catch</button>
    </div>
    <div class="clear"></div>
  </div>

  <br>
  <input type="submit" value="Compile">
  <hr>

  <div id="footer">
    <span>Thanks for using EasyConnect DA creator, have a nice day!</span><br>
    <span>If you have problem using our system, please contact: <a href="mailto:{{ email }}">{{ email }}</a></span>
  </div>

</form>
{% endblock %}
