<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='da-creator.css') }}" rel="stylesheet" type="text/css" media="all">
    <script src="{{ url_for('static', filename='jquery-1.11.2.min.js')}}"></script>
    <script src="{{ url_for('static', filename='da-creator.js')}}"></script>
  </head>
  <body>
    <div id="wrapper">
      <form action="/compile/{{ timestamp }}" method="post">
        <span>Device Model: </span>
          <span>{{ device_model_name }}</span>
          <input type="hidden" name="device-model-name" value="{{ device_model_name }}"><br>
        <span>Feature List: </span>
        <ul>
          {% for f in features %}
            <li>{{ f }}</li>
            <input type="hidden" name="feature[]" value="{{ f }}">
          {% endfor %}
        </ul>

        <hr>

        <span>Message length:</span>
          <input type="number" name="message-length" value="35"><br>
        <!--fieldset class="note">
          <span>Note: When transfering data with Bluetooth, each time the size of data your program received may vary.</span><br>
          <span>Our DA creator implemented a buffer handler to handle this.</span><br>
          <span>You have to specify the size of record so our handler can properly consume your data.</span><br>
          <span>If you are not very sure about this, write a number that is larger than what you need, but not too much.</span><br>
        </fieldset-->

        <hr>

        <h2>Initialzation</h2>
        <div>
          <div class="editor">
            <span class="code">static public void device_initialize () {</span><br>
            <textarea id="device-initialize" class="code code-area" name="device-initialize">try {
    send_dataln("*SETDB124V1");
    send_dataln("*ZOFF");
    send_dataln("*W2017");
    send_dataln("*W2067");
    send_dataln("*W2328");
    send_dataln("*MW0200");
    send_dataln("*MW001C");
    send_dataln("*MW0180");
    send_dataln("*GW200F");
    send_dataln("*GW208F");
    send_dataln("*GW2310");
} catch (IOException e) {
    e.printStackTrace();
}</textarea><br>
            <span class="code">}</span><br>
          </div>
          <div class="toolkit">
            <button type="button" onclick="insertTextAtCaret('device-initialize', 'send_dataln();');">send_dataln();</button>
            <button type="button" onclick="insertTextAtCaret('device-initialize', 'try {\n} catch () {\n}')">try-catch</button>
          </div>
          <div class="clear"></div>
        </div>

        <h2>JSON Encoder (Up-stream)</h2>
        <div>
          <div class="editor">
            <span class="code">static public int json_encode_and_push (byte[] raw_data) {</span><br>
            <span class="code note">/* push data with <span class="builtin">EasyConnect.push_data( feature_name , data )</span> */</span><br>
            <span class="code note">/* Remember to return the size you consomed */</span><br>
            <span class="code indent1">int consumed_data_size = 0;</span><br>
            <textarea id="upstream" class="code code-area" name="upstream">
    float ax = 0, ay = 0, az = 0;
    float gx = 0, gy = 0, gz = 0;
    float mx = 0, my = 0, mz = 0;

    int index = 0;
    while( !(raw_data[index]== 115 && raw_data[index+1]==116) ) {
        index++;
        if(index >= 127)
            break;
    }

    if (raw_data[index] == 115 && raw_data[index+1] == 116 && index+21<=128 && raw_data[index+21] == -128 ) {
        ay = (float)ByteBuffer.wrap(raw_data, index+2, 2).getShort();
        ax = (float)ByteBuffer.wrap(raw_data, index+4, 2).getShort();
        az = (float)ByteBuffer.wrap(raw_data, index+6, 2).getShort();

        gx = (float)ByteBuffer.wrap(raw_data, index+8, 2).getShort();
        gy = (float)ByteBuffer.wrap(raw_data, index+10, 2).getShort();
        gz = (float)ByteBuffer.wrap(raw_data, index+12, 2).getShort();

        my = (float)ByteBuffer.wrap(raw_data, index+14, 2).getShort();
        mx = (float)ByteBuffer.wrap(raw_data, index+16, 2).getShort();
        mz = (float)ByteBuffer.wrap(raw_data, index+18, 2).getShort();

        ay = ay * ( (float)4 )/( (float)16000 ) * ( (float)9.8 );
        ax = ax * ( (float)4 )/( (float)16000 ) * ( (float)9.8 );
        az = az * ( (float)4 )/( (float)16000 ) * ( (float)9.8 );

        gx = gx * ( (float)17.5 )/( (float)1000 );
        gy = gy * ( (float)17.5 )/( (float)1000 );
        gz = gz * ( (float)17.5 )/( (float)1000 );

        my = my / ( (float)450 );
        mx = mx / ( (float)450 );
        mz = mz / ( (float)450 );

        JSONArray pd;

        try {
            pd = new JSONArray();
            pd.put(ax);
            pd.put(ay);
            pd.put(az);
            EasyConnect.push_data("A-sensor", pd);
        } catch (JSONException e) {
            e.printStackTrace();
        }

        try {
            pd = new JSONArray();
            pd.put(gx);
            pd.put(gy);
            pd.put(gz);
            EasyConnect.push_data("G-sensor", pd);
        } catch (JSONException e) {
            e.printStackTrace();
        }

        try {
            pd = new JSONArray();
            pd.put(mx);
            pd.put(my);
            pd.put(mz);
            EasyConnect.push_data("M-sensor", pd);
        } catch (JSONException e) {
            e.printStackTrace();
        }

        /* CIC-brick device consumes 35 bytes every time */
        return 35;

    }</textarea><br>
            <span class="code indent1">return consumed_data_size;</span><br>
            <span class="code">}</span><br>
          </div>
          <div class="toolkit">
            {% for f in features %}
              <button type="button" onclick="insertTextAtCaret('upstream', 'EasyConnect.push_data(&quot;{{ f }}&quot;, );');">EasyConnect.push_data("{{ f }}", );</button>
            {% endfor %}
          </div>
          <div class="clear"></div>
        </div>

        <h2>JSON Decoder (Down-stream)</h2>
        <div>
          <div class="editor">
            <span class="code">static public String json_decoder () {</span><br>
            <span class="code note">/* pull data with <span class="builtin">EasyConnect.pull_data( feature_name )</span> */</span><br>
            <textarea id="downstream" class="code code-area" name="downstream">
return "*STARTONE\n";</textarea><br>
            <span class="code">}</span><br>
          </div>
          <div class="toolkit">
            {% for f in features %}
              <button type="button" onclick="insertTextAtCaret('downstream', 'EasyConnect.pull_data(&quot;{{ f }}&quot;);');">EasyConnect.pull_data("{{ f }}");</button>
            {% endfor %}
          </div>
          <div class="clear"></div>
        </div>

        <h2>Termination</h2>
        <div>
          <div class="editor">
            <span class="code">static public void device_terminate () {</span><br>
            <textarea id="device-terminate" class="code code-area" name="device-terminate">
try {
    send_dataln("*ZON");
    send_dataln("*STOP");
} catch (IOException e) {
    e.printStackTrace();
}</textarea><br>
            <span class="code">}</span><br>
          </div>
          <div class="toolkit">
            <button type="button" onclick="insertTextAtCaret('device-terminate', 'send_dataln();');">send_dataln();</button>
            <button type="button" onclick="insertTextAtCaret('device-terminate', 'try {\n} catch () {\n}')">try-catch</button>
          </div>
          <div class="clear"></div>
        </div>

        <br>
        <input type="submit" value="Compile">
        <hr>

        <div id="footer">
          <span>Thanks for using EasyConnect DA creator, have a nice day!</span><br>
          <span>If you have problem using our system, please contact: <a href="mailto:{{ email }}">{{ email }}</a></span>
        </div>

      </form>
    </div>
  </body>
</html>
